<header>
    <div class="hero">
        <section class="layout">
            <div class="branding">
                <a href="/">
                    <img src="/images/misc/rouxacademymeetups.svg" alt="Roux Academy Logo">
                </a>
            </div>
        </section>
    </div>

    <div class="navigation">
        <section class="layout">
            <div class="nav">
                <ul style="display:flex; flex-flow: row; ">
                    <li><a href="/" style="color: antiquewhite;margin: 2px 20px 2px 2px;"><i class="icon-home" style="color: gold;"></i> Home</a></li>
                    <li style="margin: 2px 20px 2px 2px;"><a href="/speakers" style="color: antiquewhite;"><i class="icon-user" style="color: gold;"></i>Speakers</a></li>
                </ul>
            </div>
            <form method="post" >
                <input type="text" name="name" >
                <input type="submit" value="Submit">
            </form>
        </section>
    </div>
</header>